.container-fluid {
        
        background-color: 4ergb(104, 211, 104);
        flex:auto;
        width: 100%;
        float: right;
        margin-right: 30px ;
        display: flex;
    }
    .list{
        display: flex;

    }

    .farms {
        margin: 0px 0 0 20%;
        padding: 10px;
        /* border: 1px solid #ccc; */
        line-height: 15px;
        font-size: 20px;
        font-size: medium;
        font-style: oblique;
    }
.my-list {
        list-style-type: none;
        padding: 0;
        margin: 20px 300px;
        overflow: hidden;
        color: aqua;
        display: flex;
    
    }

.nav-item {
        margin-right: 50px;
        
      }

.nav-link {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s; /* Add a smooth transition for hover effect */
 }

 .nav-link:hover {
    background-color: #58b40c; /* Change the background color on hover */
    
  }



.container {
    display: flex; /* Use Flexbox */
    width: 100vw;
    background-color: #58b40c;
    height: 7vh; 
}
.row {
    justify-content: center;
    align-items: center;
}
.mgt {
    list-style-type: none;
    display: flex;
    margin: -10px 90px;
    font-size: 15px;
}

